.svg{
    width: 1.2rem;
    height: 1.2rem;

    
}

.email {
    width: 2rem;
    height: 3rem;
}


.about-img{
    width: 500px;
    height: 700px;
}


.column-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-content: start;
    
}

@media (max-width: 500px){
    .about-img{
        width: 300px;
        height: 500px;
    }
}